.mainContainer-light {
    width: 100%;
    display:flex;
    flex-direction : column;
    padding: 2rem 3rem;
    background-color: hsl(0, 0%, 98%);
    color: black;
    overflow: hidden;
}

.mainContainer-dark {
    width: 100%;
    display:flex;
    flex-direction : column;
    padding: 2rem 3rem;
    background-color: hsl(207, 26%, 17%);
    color: white;
    overflow: hidden;
}