.mainContainer-light {
    width: calc(100% - 10rem);
    display:flex;
    flex-direction : column;
    padding: 3rem 5rem;
    background-color: hsl(0, 0%, 98%);
    color: black;
    overflow: hidden;
    min-height: 92vh;
}

.mainContainer-dark {
    width: calc(100% - 10rem);
    display:flex;
    flex-direction : column;
    padding: 3rem 5rem;
    background-color: hsl(207, 26%, 17%);
    color: white;
    overflow: hidden;
    min-height: 92vh;
}