.navbar-light {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    width: 100%;
    box-shadow: 5px -1px 2px 5px rgba(152,152,152,0.27);
    color: black;
}

.navbar-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: #2b3945;
    box-shadow: 5px -1px 2px 5px rgba(152,152,152,0.27);
    color: white;
}

.moonIcon {
    padding-right: 0.5rem;
}

.appName {
    padding-left: 4rem;
    font-weight: 800;
    font-size: 1.5rem;
}

.darkModeZone {
    cursor: pointer;
    margin-left: auto;
    padding-right: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}